<article>
  <div class="flex items-center">
    <h4>
      <ng-template [ngIf]="item.url">
        <a [href]="item.url">{{ item.title }}</a>
      </ng-template>
      <ng-template [ngIf]="!item.url">
        <a [routerLink]="['/item', item.objectID]">{{ item.title }}</a>
      </ng-template>
    </h4>
    <span class="has-text-grey" *ngIf="item.url">({{ item.url | hostname }})</span>
  </div>

  <nav class="breadcrumb has-dot-separator is-small" aria-label="breadcrumbs">
    <ul>
      <li>{{ item.points }} points</li>
      <li>by <a [routerLink]="['/user', item.author]">{{ item.author }}</a></li>
      <li>
        <time
          [dateTime]="item.created_at_i * 1000 | date:'yyyy-MM-dd HH:mm:ss'">{{ item.created_at_i | timeago }}</time>
      </li>
      <li *ngIf="showCommentLink(item)">
        <a [routerLink]="['/item', item.objectID]">{{ item.num_comments }} comments {{ item | numberofchildren }} a</a>
      </li>
    </ul>
  </nav>
</article>
